@font-face {
  font-family: 'helvetica-neue-regular';
  src: url('../fonts/helvetica-neue/regular/HelveticaNeue.eot');
  src: url('../fonts/helvetica-neue/regular/HelveticaNeue.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/helvetica-neue/regular/HelveticaNeue.woff') format('woff'), 
  url('../fonts/helvetica-neue/regular/HelveticaNeue.ttf') format('truetype'), 
  url('../fonts/helvetica-neue/regular/HelveticaNeue.svg#HelveticaNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
*
* helvetica-neue-bold
*
**/
@font-face {
  font-family: 'helvetica-neue-bold';
  src: url('../fonts/helvetica-neue/bold/HelveticaNeue-Bold.eot');
  src: url('../fonts/helvetica-neue/bold/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/helvetica-neue/bold/HelveticaNeue-Bold.woff') format('woff'), 
  url('../fonts/helvetica-neue/bold/HelveticaNeue-Bold.ttf') format('truetype'), 
  url('../fonts/helvetica-neue/bold/HelveticaNeue-Bold.svg#HelveticaNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 1250px) {

}

@media screen and (max-width: 900px) {
	
	h1 {
		font-size: 80px !important;
		line-height: 85px !important;
	}
	
	img {
		height: 20px !important;
		width: 300px !important;
		top: 368px !important;
	}
	
	p {
		font-size: 18px !important;
	}
}

@media screen and (max-width: 700px) {
	
	h1 {
		font-size: 70px !important;
		line-height: 75px !important;
		
		&:nth-child(1) {
			top: 75px !important;
		}
		
		&:nth-child(2) {
			top: 175px !important;
		}
	}
	
	img {
		height: 17px !important;
		width: 275px !important;
		top: 368px !important;
	}
	
	p {
		font-size: 14px !important;
	}
	
	.credits {
		display: none;
	}
}

@media screen and (max-width: 450px) {
	
	h1 {
		font-size: 60px !important;
		line-height: 65px !important;
		
		&:nth-child(1) {
			top: 75px !important;
		}
		
		&:nth-child(2) {
			top: 160px !important;
		}
	}
	
	img {
		height: 14px !important;
		width: 250px !important;
		top: 330px !important;
	}
	
	p {
		font-size: 13px !important;
	}
}

@media screen and (max-width: 350px) {
	
	h1 {
		font-size: 50px !important;
		line-height: 55px !important;
		
		&:nth-child(1) {
			top: 75px !important;
		}
		
		&:nth-child(2) {
			top: 160px !important;
		}
	}
	
	img {
		height: 12px !important;
		width: 200px !important;
		top: 303px !important;
	}
	
	p {
		font-size: 11px !important;
	}
}



body {
	background: #F5F5F5;
	font-family: 'helvetica-neue-bold', 'Helvetica', sans-serif;
	position: fixed;
	width: 100%;
	
	h1 {
		position: relative;
		left: 30px;
		color: #3c3c3c;
		font-size: 100px;
		line-height: 90px;
		font-weight: 500;
		letter-spacing: -2px;
		
		&:nth-child(1) {
			top: 50px;
		}
		
		&:nth-child(2) {
			top: 150px;
		}
		
		i {
			font-style: normal;
		}
		
		i.earthquake {
			color: #187EF6;
		}
		
	}
	
	img {
      position: fixed;
      height: 20px;
      width: 375px;
      top: 380px;
      margin-left: -30px;
	}
	
	p {
		font-family: 'helvetica-neue-regular', 'Helvetica', sans-serif;
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 30px;
		display: block;
		font-size: 18px;
	}
}

.earthquake-data-container {
	opacity: 1;
	transition: all 1s ease;
}

.credits {
    /* Abs positioning makes it not take up vert space */ 
    position: absolute;
    width: 100vh;
    text-align: center;
    font-size: 13px;
    font-family: 'helvetica-neue-regular', 'Helvetica', sans-serif;
    
    /* Border is the new background */
    background: none;
    color: black;
    
    /* Rotate from top left corner (not default) */
    -webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
    -ms-transform-origin:     0 0;
    -o-transform-origin:      0 0;
    

    top: 0;
    left: 99%;
	-moz-transform: translateY(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
	
    a {
	    text-decoration: underline;
	    color: #3c3c3c;
	    
	     &:hover {
		     color: #9f9f9f;
	     }
    }
}

/*
**	Location indicator **
						*/
.location_indicator{
    margin: 30px auto;
    position: absolute;
	top: 40%;
	left: 47%;
	transition: all 0.4s ease-out;
}

.location_indicator:before, .location_indicator:after{
    position: absolute;
    content: "";
}

.location_indicator:before{
    width: 30px;
    height: 30px;
    border-radius: 100% 100% 100% 0;
    box-shadow: 0px 0px 0px 2px rgba(128, 128, 128, 1);
    -webkit-animation: mapping 1s linear infinite;
    -moz-animation: mapping 1s linear infinite;
    animation: mapping 1s linear infinite;
    -webkit-transform: rotate(-46deg);
    -moz-transform: rotate(-46deg);
    transform: rotate(-46deg);
}

.location_indicator:after{
    width: 30px;
    height: 10px;
    border-radius: 100%;
    left: 0px;
    background-color: rgba(155, 155, 155, 0.5);
    top: 45px;
    z-index: -1;
}

@-webkit-keyframes mapping{
    0% {top: 0;}
    50%{top: -5px;}
    100% {top:0; }
}
@-moz-keyframes mapping{
    0% {top: 0;}
    50%{top: -5px;}
    100% {top:0; }
}

@keyframes mapping{
    0% {top: 0;}
    50%{top: -5px;}
    100% {top:0; }
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}



